* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

header {
    height: 100px;
    margin: 0px;
    padding: 0px;
    background-color: red;
}

main {
    display: inline-block;
    width: calc(100vw - 500px);
    height: calc(100vh - 200px);
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: green;
}

div {
    display: inline;
    float: right;
    width: 200px;
    height: calc(100vh - 200px);
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: yellow;
}

nav {
    display: inline;
    float: left;
    width: 300px;
    height: calc(100vh - 200px);
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: blue;
}

footer {
    height: 100px;
    clear: both;
    background-color: violet;
}

P {
    align-items: center;
    margin: 0px;
}